[Unit]
Description=MOD-host
After=wireplumber.service
BindsTo=wireplumber.service

[Service]
LimitRTPRIO=95
LimitMEMLOCK=infinity
Type=forking
Environment=LV2_PATH=/usr/lib/lv2
Environment=JACK_PROMISCUOUS_SERVER=jack
ExecStart=/usr/local/bin/mod-host -p 5555 -f 5556
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
